name: Build Windows App

on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - run: pip install customtkinter pyinstaller

      - run: pyinstaller --onefile --windowed main.py

      - uses: actions/upload-artifact@v4
        with:
          name: windows-app
          path: dist/*.exe
